//first-screen
.first-screen
    .container
        h1 Features
        p.first-screen__text Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.
        .first-screen-inner
            .slick-slider
                .slick-item.slick-item_marked
                    p.slick-item__title First Feature
                    p.slick-item__text Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
                    a(href="#").slick-item__link Learn more
                        +icon('arrow-right')
                    span.slick-item__count 1
                .slick-item
                    p.slick-item__title First Feature
                    p.slick-item__text Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
                    a(href="#").slick-item__link Learn more
                        +icon('arrow-right')
                    span.slick-item__count 2
                .slick-item
                    p.slick-item__title First Feature
                    p.slick-item__text Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
                    a(href="#").slick-item__link Learn more
                        +icon('arrow-right')
                    span.slick-item__count 3
                .slick-item
                    p.slick-item__title First Feature
                    p.slick-item__text Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.
                    a(href="#").slick-item__link Learn more
                        +icon('arrow-right')
                    span.slick-item__count 4