//first-screen

.first-screen {
  margin-top: 80px;
  .container {
    padding: 0;
    @include mq("768") {
      padding: 0 40px;
    }
    @include mq("993") {
      padding: 0;
    }
  }
}

.first-screen__text {
  margin-top: 40px;
  font-size: 23px;
  line-height: 160%;
  color: #4b5d68;
  text-align: center;
  @include mq("768") {
    margin-top: 35px;
  }
}

.first-screen-inner {
  padding: 38px 0 100px;
  margin-top: 50px;
  min-height: 495px;
  background: #ffc84d;
  @include mq("768") {
    padding: 95px 80px 90px; 
    border-radius: 50px;
  }
  @include mq("993") {
    border-radius: 50px;
    max-width: 682px;
    margin: 50px auto 50px;
  }
  @include mq("1920") {
    max-width: 1200px;
  }
}
